<h1>New Flight</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_flight_path(@conn, :create, @user)) %>

<span><%= link "Back", to: Routes.user_flight_path(@conn, :index, @user) %></span>
